
footer.page-footer(class="page-#{pageName}")
  .container
    ul.list-inline.text-center
      links = [{name: "联系我们", href: "contact.html"}, {name: "服务政策", href: ""}, {name: "入驻企业"}, {name: "移动APP"}]
      each link in links
        li
          a(href=link.href)= link.name
    p.text-center Copyright©2013HIPARK 版权声明 浙ICP备11034583号

    .logo
      a(href="http://designtotalk.com/", target="_blank").dt
        img(src="./images/share/dt.png", alt="designtotalk")
      a(href="javascript:", target="_blank").atom
        img(src="./images/share/atom.png", alt="atom")


