
header.page-header
  unless pageName == 'index'
    h1.single-page-logo HiPark

  .menu-list.container
    ul.list-inline
      each menu in [{name: '首页', pageName: 'index', href: 'index.html'}, {name: '新闻', pageName: 'news', href: 'news.html'}, {name: '园区介绍', id: 217}, {name: '服务政策', pageName: 'service-poilcy', href: 'service_poilcy.html'}, {name: '入驻企业', id: 175}, {name: '移动APP', id: 222}, {name: '社区', href: 'javascript:;'}]
        li
          - var activeClass = menu.pageName == pageName ? 'active' : '';
          - if (menu.id != null) { menu.href = 'page.html?id=' + menu.id }
          a(href=menu.href, class=activeClass)= menu.name

