
header.page-header
  unless pageName == 'index'
    a(href="./")
      h1.single-page-logo HiPark

  .menu-list.container
    ul.list-inline
      each menu in header.links
        li
          - var activeClass = menu.pageName == pageName ? 'active' : '';
          - if (menu.pageid != null) { menu.href = 'page.html?id=' + menu.pageid }
          - if (menu.categoryid != null) { menu.href = 'article_collection.html?id=' + menu.categoryid }
          a(href=menu.href, class=activeClass)= menu.name

