@import "../../bower_components/bootstrap/less/variables.less";
@import '../_variables';

.col-md-9, .col-md-3 {
  padding: 0;
}

.col-md-9 {
  padding-right: 50px;
}

.body {
  margin-top: 60px;
}


.article-title {
  display: inline-block;
  margin-top: 0;
  max-width: 590px;
  font-weight: normal;
  font-size: 24px;
  color: @link-color-active;
}

article.col-md-9 {
  min-height: 300px;

  aside {
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid @border-normal;
    color: lighten(@text-color, 30%);

    a {
      color: lighten(@text-color, 30%);
      &:hover {
        color: @link-color-active;
      }
    }

    .list-inline {
      margin: 0;
    }
  }

  img {
    display: block;
    margin: 10px auto;
    max-width: 670px;
  }
}

.article-content a {
  color: @link-color-active;
}

.aside {
  .service-poilcy a {
    display: inline-block;
    padding-right: 20px;
    background: url(../../images/article/service_poilcy.png) center right no-repeat;
  }
}


