
@import '../_variables';

.col-md-9, .col-md-3 {
  padding: 0;
}

.col-md-9 {
  padding-right: 50px;
}

.body {
  margin-top: 60px;
}

.article-title {
  margin-top: 0;
  font-weight: normal;
  font-size: 24px;
  color: #666;
}

article.col-md-9 {
  min-height: 300px;

  a {
    color: @link-color-active;
  }

  img {
    display: block;
    margin: 10px auto;
    max-width: 670px;
  }
}

.aside {
  .category-list {
    line-height: 35px;

    > ul {
      padding: 0 30px;
    }
  }
  .service-poilcy a {
    display: inline-block;
    padding-right: 20px;
    background: url(../../images/article/service_poilcy.png) center right no-repeat;
  }
  .ad {
    ul li {
      margin-bottom: 30px;
    }
  }
}


