@import "../_variables.less";

.col-md-9, .col-md-3 {
  padding: 0;
}

.col-md-9 {
  padding-right: 50px;
}

.body {
  margin-top: 60px;
}

.news-container {
  margin-top: -30px;
  min-height: 300px;

  .article-list > li {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid @border-normal;

    &.last {
      border-bottom: none;
    }
  }

  article h1 {
    margin-top: 0;
    font-size: 24px;
    a {
      color: @link-color-active;
    }
  }

  .article-meta {
    // time {
    //   margin-right: 5px;
    //   padding-right: 5px;
    //   border-right: 1px solid @text-color;
    // }

    a {
      color: @link-color-active;
    }
  }

  .article-image img {
    display: block;
    margin: 0 auto;
    max-width: 670px;
  }

  .article-intro {
    margin-top: 30px;
    text-indent: 2em;
  }

  .article-more {
    color: @link-color-active;
  }
}

.pagination {
  li > a {
    border: none;
  }

  li > a:hover {
    color: #fff;
    background: @link-color-active;
  }

  .active {
    & > a, & > a:hover {
      background: @link-color-active;
    }
  }
}

.aside {
  .aside-module .download {
    display: inline-block;
    padding-right: 25px;
    background: url(../../images/share/download.png) center right no-repeat;
  }
}

