@import '../_variables.less';
@import '../_shortcut.less';

.page-banner {
  display: block;
  padding: 50px auto;
  width: 990px;
  *text-align:center;
}

.poilcy-area {
  padding: 30px 15px;
  border-top: 1px solid @border-normal;
  line-height: 35px;
}

.poilcy-categories {
  padding-right: 50px;
  font-size: 18px;

  li {
    border-bottom: 1px solid @border-normal;
    *background: none;
    a {
      display: block;
    }

    &.active a {
      color: @link-color-active;
    }
  }
}

.poilcies {
  min-height: 200px;
}

.features {
  margin-left: -50px;
  font-size: 0;
  .media {
    margin: 0 0 40px 50px;
    width: 280px;
    vertical-align: top;
    font-size: @font-size-base;
    .media-body {
      margin-top: 25px;
      h2.media-heading {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 400;
        color: #9a9a9a;
        *text-align:center;
      }
      p {
        color: #bbb;
      }
    }
  }
}