
.index-page .page-footer {
  box-shadow: none;
}

.page-footer {
  margin-top: 160px;
  padding-top: 50px;
  height: 270px;
  color: #d8e2e8;
  box-shadow: inset 0 3px 3px #e7e5e6;
  background-color: #faf9f7;

  a {
    color: #b8c5cb;
  }
}

