
.page-header {
  // 去除 Bootstrap 设置的类
  padding-bottom: 0;
  border-bottom: none;
  text-align: center;
  .single-page-logo {
    .ir;
    margin: 0 auto 30px auto;
    width: 300px;
    height: 80px;
    background: white url('../images/single_page_logo.png') no-repeat center center;
  }

  .menu-list {
    @width: 960px;
    max-width: @width;
    min-width: @width;
    *width: @width;

    ul {
      margin: 0;
      border-top: 1px solid @border-normal;
      border-bottom: 1px solid @border-normal;
      font-size: 0;
      li {
        .inline-block();
        font-size: @font-size-base;
      }
    }

    .menu {
      width: ((@width - 30px) / 9);
      a {
        padding-top: 25px;
        padding-bottom: 25px;
        display: block;
        text-align: center;
      }
      a:hover {
        *color: @link-color-active;
        *background: none;
      }
    }
    .dropdown {
      #dropdown-toggle {
        display: block;
        padding: 5px 0 0 0;
        width: 45px;
        outline: 0;
        *text-align: center;
        .arrow {
          width: 0;
          height: 0;
          margin: 2px auto;
          border: 8px solid #BBB;
          border-left-color: white;
          border-bottom-color: white;
          border-right-color: white;
        }
      }
      .dropdown-menu {
        top: 105%;
        left: 5px;
        padding: 0;
        min-width: 0;
        width: 45px;
        border: 1px solid #EAEAEA;
        box-shadow: none;
        border-radius: 0;
        li a {
          padding: 5px;
          &:hover {
            background: #FBF8F8;
          }
        }
      }
    }
  }
}

