!!!5
head
  meta(charset="UTF-8")
  block title
    title 首页
  block styles
    link(rel="stylesheet", type="text/css", href="styles/base.css")

body
  - var linkArticle = function linkArticle(articleid) { return "articles.html?id=" + articleid }

  block content

  block scripts
    script(src="scripts/vendor.js")
    script(src="scripts/base.js")

