!!!5
head
  meta(charset="UTF-8")
  block title
    title 首页
  block styles
    link(rel="stylesheet", type="text/css", href="styles/base.css")

body
  block content

  block scripts
    script(src="script/vendor.js")
    script(src="script/index.js")

