extends _layout

block append styles
  link(rel="stylesheet", type="text/css", href="styles/pages/article.css")

block content
  pageName = "ariticle"

  include partials/_header.jade

  .container.body
    article.col-md-9

    script(id='article', data-tmpl-html="article", type="text/template").
      <header class="clearfix article-title">
        <h1 class="pull-left">{{name}}</h1>

        <time class="article-publish-time pull-right">
          <span class="article-publish-month">{{formatPublishMonth}}</span>
          <span class="sr-only">-</span>
          <span class="article-publish-day">{{formatPublishDay}}</span>
        </time>
      </header>

      <aside class="clearfix">
        <span class="article-view-count pull-left">浏览：{{view_count}}次</span>

        <nav class="article-nav pull-right">
          <ul class="list list-inline">
            <li><a href="javascript:;">&lt;&nbsp;上一篇</a></li>
            <li><a href="javascript:;">下一篇&nbsp;&gt;</a></li>
          </ul>
        </nav>
      </aside>

      <div class="article-content" data-tmpl-unescape>{{{content}}}</div>

    script(id="articleNotExist", data-tmpl-html="article", type="text/template").
      <p>获取文章信息失败</p>

    script(id="fetchArticleError", data-tmpl-html="article", type="text/template").
      <p>获取文章信息失败</p>

    .aside.pull-right.col-md-3
      .aside-module.category-list
        h2.aside-module-heading.sr-only 新闻分类
        ul.list-unstyled.item-list

        script(id="categoryList", data-tmpl-html=".category-list > ul.list-unstyled", type="text/template").
          {{^categories}}<li>暂时没有任何分类</li>{{/categories}}
          {{#categories}}
            <li>
              <a href="news.html?category={{id}}" data-category-id="{{id}}">{{name}}</a>
            </li>
          {{/categories}}

        script(id="fetchListError", type="text/template").
          <li>获取信息失败</li>

      .aside-module.recommendation
        ul.list-unstyled
          li
            a(href="http://hipark.cn/page.html?id=222", target="_blank")
              img(src="images/article/recommendation1.png")

          li
            a(href="/bbs/")
              img(src="images/article/recommendation2.png")

          li
            a(href="javascript:")
              img(src="images/article/recommendation3.png")

  include partials/_footer.jade

block append scripts
  script(src="scripts/momentjs/moment.js")
  script(src="scripts/momentjs/lang/zh-cn.js")
  :coffee
    $articleContainer = $('article').spin()
    $categoryList = $ ".category-list > ul.list-unstyled"
    categoryListLoadDefer = $.Deferred()

    matchs = location.search.match /(\?|&)id=(\d+)(&|$)/
    unless matchs and matchs[2]
      $articleContainer.html $tmpl 'articleNotExist'
      return

    articleId = matchs[2]
    requester.get("/articles/#{articleId}").always ->
      $articleContainer.spin false
    .fail (jqXHR) ->
      tplName = if jqXHR.statusCode() is 404 then 'articleNotExist' else 'fetchArticleError'
      $articleContainer.html $tmpl tplName
    .done (article) ->
      article.formatPublishDay = -> momentFromISO(@publish_at).format 'DD'
      article.formatPublishMonth = -> momentFromISO(@publish_at).format 'YYYY-MM'
      $tmpl 'article', article
      document.title = article.name + ' - HIPARK'
      categoryListLoadDefer.promise().done ->
        $categoryList.find("a[data-category-id='#{article.category.id}']").addClass 'active'

    requester.get('/articles/categories').done (categories) ->
      categories = reqconf.newsCategory categories
      $tmpl 'categoryList', {categories}
      categoryListLoadDefer.resolve()
    .fail ->
      $categoryList.html $('#fetchListError').html()

