!!!5
head
  meta(charset="UTF-8")
  link(rel="stylesheet", type="text/css", href="styles/base.css")
  title 首页
body
  h1 hello world !

  script(src="script/vendor.js")
  script(src="script/index.js")

