
extends _layout

block append styles
  link(rel="stylesheet", type="text/css", href="styles/index.css")

block content
  pageName = 'index'

  h1.header.ir(style="cursor: pointer") HiPark

  .body

    include partials/_header.jade

    .section
      .news.pull-right
        h3 园区新闻
        a(href="news.html").more.ir.pull-right 更多
        ul

        script(id="articleList", data-tmpl-target=".news ul", type='text/template').
          {{#list}}

            <li class="media">
              <a class="pull-left">
                <img class="media-object" src="{{../image}}">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{name}}</h4>
                <p>
                  {{../cleanContent}}
                  <a href="{{../linkArticle}}">继续阅读</a>
                </p>
              </div>
            </li>
          {{/list}}

      #carousel-generic.recommenations.carousel.slide
        .carousel-inner

        script(id="recommendationList", type='text/template').
          {{#list}}
            <a class="item" href="{{../makeLink}}">
              <img src={{../fitImage}}>
              <div class="carousel-caption">
                <div class="heading">{{target.context.name}}</div>
                <div class="content">{{../cleanRecommendations}}</div>
              </div>
            </a>
          {{/list}}

        a(href="#carousel-generic", data-slide="prev").carousel-control-left
        a(href="#carousel-generic", data-slide="next").carousel-control-right

    .section
      ul.summary.list-unstyled.list-inline
        li
          a(href="park_intro.html#location")
            h3.location 园区位置
          p.
            杭州湾信息港位于国家级萧山经济技术开发区市北西部区块的中心位置，
            东依明星路，南靠启迪路，西临五甲河和浙江省商检局检测大楼，
            与国家级杭州高新技术产业开发区毗邻，北接建设三路，与钱江世纪城、奥体博览中心相连。
        li
          a(href="park_intro.html#function")
            h3.function 园区功能
          p.
            五大完善的公共服务体系<br>
            ①企业成长中心;
            ②技术服务中心;
            ③融资服务中心;
            ④创新营销中心;
            ⑤物业管理中心
        li.last
          a(href="park_intro.html#round")
            h3.round 周边配套
          p.
            270套人才公寓、 咖啡厅、便利店、餐厅、金融服务、银行、羽毛球馆、健身房、快递、宾馆酒店、
            从10个人的小会议室到300人开会的国际会议厅。
      .introduce.pull-right
        h3 杭州湾信息港简介：
        p.
          杭州湾信息港由萧山经济技术开发区投资，
          委托浙大网新运营管理，是杭州地区唯一一个政府全资投入、专业企业运行的高科技园区，
          也是“杭州软件新城”的首个产业集聚平台。
          目标是打造成为国际一流，集科技企业总部、科技项目转移、孵化、研发、金融、商务等为一体的综合性的绿色低碳环保科技社区，
          成为创新、创业的高地。
        a(href="park_intro.html").pull-right 更多园区介绍

      ul.artwork.list-unstyled.list-inline
        li
          img(src="./images/index/artwork01.jpg")
        li.last
          img(src="./images/index/artwork02.jpg")
    .section.articles
      h3 园区的优秀服务政策
      ul.list-unstyled.list-inline
        li
          .square
          a(href="#") 创业投资企业管理暂行办法
        li
          .square
          a(href="#") 国家科技支撑计划管理暂行办法
        li
          .square
          a(href="#") 国家科技支撑计划管理暂行办法
        li
          .square
          a(href="#") 创业投资企业管理暂行办法

    .section
      a(href="park_intro.html")
        img(src="./images/index/companies.png").companies
    .section
      img(src="./images/index/social.png").social

  include partials/_footer.jade

block append scripts
  script(src="scripts/bs/carousel.js")
  script(src="scripts/jquery.scrollTo/jquery.scrollTo.js")
  script(src="scripts/index.js")

