extends _layout

block append styles
  link(rel="stylesheet", type="text/css", href="styles/pages/news.css")

block title
  title 园区新闻

block content
  pageName = "news"

  include partials/_header.jade

  .container.body
    .col-md-9.news-container
      ul.list-unstyled.article-list
      script(id='categoryNotExist', data-tmpl-html=".article-list", type="text/template").
        <li>没有该新闻分类</li>
      script(id="articleList", data-tmpl-html=".article-list", type="text/template").
        {{^articles}}<li>该分类下暂时没有新闻</li>{{/articles}}
        {{#articles}}
        <li>
          {{#renderImage}}
          <section class="article-image">
            <img src="{{image}}" />
          </section>
          {{/renderImage}}
          <article>
            <h1 class="article-title">
              <a href={{../linkArticle}}>{{name}}</a>
            </h1>
            <p class="article-meta">
              <time class="article-publish-time">
                <span class="article-publish-month">{{../formatPublishMonth}}</span>
                <span class="sr-only">-</span>
                <span class="article-publish-day">{{../formatPublishDay}}</span>
              </time>
              <span class="article-view-count">浏览：{{view_count}}</span>
              {{! <a href="{{../linkArticle} }">评论：{{comment_count} }</a> }}
            </p>
            <section class="article-intro">
              <p>{{{../cleanFirstParagraph}}}</p>
            </section>
            <section>
              <a href="{{../linkArticle}}" class="article-more">继续阅读</a>
            </section>
            <footer class="article-share"></footer>
          </article>
        </li>
        {{/articles}}

      ul.pagination.pull-right
      script(id='paginationList', data-tmpl-html=".pagination", type="text/template").
        {{#prevPageExist}}<li><a href="{{prevPage.url}}">上一页</a></li>{{/prevPageExist}}
        {{^prevPageExist}}<li class="disabled"><a href="javascript:;">已在首页</a></li>{{/prevPageExist}}

        {{#pages}}
          {{#active}}
          <li class="active">
            <a href="javascript:;">
              {{num}} <span class="sr-only">(当前页)</span>
            </a>
          </li>
          {{/active}}
          {{^active}}
            {{#ellipsis}}<li class="disabled"><a href="javascript:;">...</a></li>{{/ellipsis}}
            {{^ellipsis}}<li><a href="{{url}}">{{num}}</a></li>{{/ellipsis}}
          {{/active}}
        {{/pages}}

        {{#nextPageExist}}<li><a href="{{nextPage.url}}">下一页</a></li>{{/nextPageExist}}
        {{^nextPageExist}}<li class="disabled"><a href="javascript:;">已在末页</a></li>{{/nextPageExist}}

    .aside.pull-right.col-md-3
      .aside-module.category-list.item-list
        h2.aside-module-heading.sr-only 新闻分类
        ul.list-unstyled
        script(id="categoryList", data-tmpl-html=".category-list > ul.list-unstyled", type="text/template").
          {{^categories}}<li>暂时没有任何分类</li>{{/categories}}
          {{#categories}}
            <li>
              <a {{#active}}class="active"{{/active}} href="news.html?category={{id}}">{{name}}</a>
            </li>
          {{/categories}}

      .aside-module
        h2.aside-module-heading
          a(href="media_download.html").download 媒体资料下载

      .aside-module.ad
        ul.list-unstyled
          li
            a(href="page.html?id=222", target="_blank")
              img(src="images/article/ad1.png")

          li
            a(href="bbs/")
              img(src="images/article/ad2.png")

          li
            a(href="javascript:")
              img(src="images/article/ad3.png")

  script(id="fetchListError", type="text/template").
    <li>获取信息失败</li>

  include partials/_footer.jade

block append scripts
  script(src="scripts/momentjs/moment.js")
  script(src="scripts/momentjs/lang/zh-cn.js")
  :coffee
    articlesData =
      formatPublishDay: ->
        moment(@publish_at).format 'DD'

      formatPublishMonth: ->
        moment(@publish_at).format 'YYYY-MM'

      cleanFirstParagraph: ->
        cleanText = $.trim $('<div>').html(@content).find('div, p').first().text()
        return cleanText if cleanText.length < 190
        cleanText.substr(0, 190) + "..."


    preprocessArticles = (articles) ->
      for article in articles
        image = article.image_ids?[0] or $('<div>').html(article.content).find('img').first().attr 'src'
        unless image
          article.renderImage = false
        else
          article.renderImage = true
          article.image = image

      articles

    renderPagination = (category, totalNewsCount, currentPage) ->
      maxPage = Math.ceil totalNewsCount / pageNewsCount
      baseUrl = "#{location.pathname}?category=#{category}"
      data = generatePagination baseUrl, maxPage, currentPage
      data.prevPageExist = !!data.prevPage
      data.nextPageExist = !!data.nextPage
      $tmpl 'paginationList', data

    renderArticleList = (category, page) ->
      $newsContainer = $('.news-container').spin()
      requester.get(
        '/articles'
        {category, page, count: pageNewsCount}
      ).done (articles, textStatus, jqXHR) ->
        $newsContainer.spin false
        articlesData.articles = preprocessArticles articles
        $tmpl('articleList', articlesData).filter('li').last().addClass 'last'

        totalNewsCount = parseInt jqXHR.getResponseHeader('X-Resource-Count'), 10
        renderPagination category, totalNewsCount, page
      .fail ->
        $newsContainer.spin false
        $newsContainer.html $('#fetchListError').html()

    categoryId = null
    pageNewsCount = 10
    page = 1

    do ->
      matchs = location.search.match /(\?|&)page=(\d+)(&|$)/
      page = parseInt(matchs[2], 10) if matchs?[2]?

    do ->
      matchs = location.search.match /(\?|&)category=(\d+)(&|$)/
      categoryId = parseInt(matchs[2], 10) if matchs?[2]?
      renderArticleList categoryId, page if categoryId?

    requester.get('/articles/categories').done (serverCategories) ->
      categories = reqconf.newsCategory serverCategories
      categories = for category in categories
        category.active = category.id is categoryId
        category

      $tmpl 'categoryList', {categories}
      return if categoryId?
      for category in serverCategories when category.name is '新闻中心'
        renderArticleList category.id, page
        return
    .fail ->
      $(".category-list > ul.list-unstyled").html $('#fetchListError').html()

