extends _layout

block title
  title 页面

block content
  pageName = 'settled-enterprises'

  include partials/_header.jade

  .container.page-container

  script(id="page", data-tmpl-html=".page-container", type='text/template').
    {{{content}}}

  include partials/_footer.jade

block append scripts
  :coffee
    matchs = location.search.match /(\?|&)id=(\d+)(&|$)/
    unless matchs and matchs[2]
      $tmpl 'page', content: '找不到该页面'
      return

    requester.get("/articles/pages/#{matchs[2]}").done (page) ->
      $('title').text page.name
      activeMenuItem 'page', page.id
      $tmpl 'page', page
    .fail ->
      $tmpl 'page', content: '请求数据失败'


