extends _layout

block title
  title 园区介绍

block append styles
  link(rel="stylesheet", type="text/css", href="styles/pages/park_intro.css")

block content
  pageName = 'park-intro'

  include partials/_header.jade
  .container
    a#location.anchor
    a(href="http://j.map.baidu.com/-gGeo", class="map", target="_blank")
      img(src="./images/park_intro/map.jpg", alt="杭州市萧山区启迪路198号")

    a#function.anchor
    ul.feature.list-unstyled
      li.media
        img(src="./images/park_intro/feature1.png").media-object.pull-left
        .media-body.pull-right.text-right
          h3 企业认定
          p.
            研发机构、企业总部、产业链型企业、国家省市、高校科研院所、<br>
            国际孵化器成长型企业、服务中介企业和商业配套。
      li.media
        img(src="./images/park_intro/feature2.png").media-object.pull-right
        .media-body.pull-left.text-left
          h3 战略定位
          p(style="width: 700px").
            ①工业化与信息化深度融合的示范区构建承前启后的产业结构，以服务工业企业的信息技术为主线、以制造与创造相互促进，制造业与服务业相互配套，建设信息技术与先进制造融合发展的示范平台，成为杭州乃至华东区的示范区。为萧山产业转型升级装载智慧引擎<br>
            ②软件和信息服务业的区域交易中心萧山当地传统产业转型升级，已经且将会产生大量的信息化需求，这给信息服务业带来市场机会，本项目要努力成为信息服务的交易中心、服务中心，“交易”将有可能给杭州湾信息港带来差异化的优势，在杭州众多的园区中脱颖而出。


      li.media
        img(src="./images/park_intro/feature3.png").media-object.pull-left
        .media-body.pull-right.text-right
          h3 产业及功能定位
          p.
            ①产业定位为“新一代信息技术+现代服务业+总部经济”有专注领路的综合功能型科技园<br>
            ②功能定位：技术创新研发、科技创业孵化、科技成果转化、公共技术服务平台、商业休闲配套、科技金融服务

      li.media
        img(src="./images/park_intro/feature4.png").media-object.pull-right
        .media-body.pull-left.text-left
          h3 运营模式
          p.
            杭州湾信息港采用“政府主导、企业专业化运营”方式，<br>
            即政府和企业合作运营园区，探索实行政府投资建设、专业企业托管的园区创新运营模式。

    .intro
      ul.artwork.list-unstyled.list-inline
        li
          img(src="./images/park_intro/artwork1.png")
        li
          img(src="./images/park_intro/artwork2.png")
        li
          img(src="./images/park_intro/artwork3.png")
        li
          img(src="./images/park_intro/artwork4.png")

      .summary

        h3 园区文化
        p.
          杭州湾信息港隶属于浙江省杭州市。位于浙江省北部，杭州湾南岸，是中国大陆综合实力最强的县（市，区）之一，连续多年被评为“中国十强县（市，区）”，多次蝉联“中国大陆极具投资地第一名”，2012年萧山实现地区生产总值1612亿元，人均GDP突破1.7万美元。萧山常住人口151.1万人，外来人口约87.65万人。交通便利，沪杭甬高速和杭金衢高速在这里交汇，浙赣铁路和萧甬铁路在这里发端,104国道,03省道穿境而过，萧绍运河东西横贯钱塘江，曹娥江水系，现代化国际航空港——萧山国际机场坐落于此。杭州湾信息港隶属于浙江省杭州市。位于浙江省北部，杭州湾南岸，是中国大陆综合实力最强的县（市，区）之一，连续多年被评为“中国十强县（市，区）”，多次蝉联“中国大陆极具投资地第一名”，2012年萧山实现地区生产总值1612亿元，人均GDP突破1.7万美元。萧山常住人口151.1万人，外来人口约87.65万人。交通便利，沪杭甬高速和杭金衢高速在这里交汇，浙赣铁路和萧甬铁路在这里发端,104国道,03省道穿境而过，萧绍运河东西横贯钱塘江，曹娥江水系，现代化国际航空港——萧山国际机场坐落于此。
        p.
          杭州湾信息港隶属于浙江省杭州市。位于浙江省北部，杭州湾南岸，是中国大陆综合实力最强的县（市，区）之一，连续多年被评为“中国十强县（市，区）”，多次蝉联“中国大陆极具投资地第一名”，2012年萧山实现地区生产总值1612亿元，人均GDP突破1.7万美元。萧山常住人口151.1万人，外来人口约87.65万人。交通便利，沪杭甬高速和杭金衢高速在这里交汇，浙赣铁路和萧甬铁路在这里发端,104国道,03省道穿境而过，萧绍运河东西横贯钱塘江，曹娥江水系，现代化国际航空港——萧山国际机场坐落于此。
        p.
          沪杭甬高速和杭金衢高速在这里交汇，浙赣铁路和萧甬铁路在这里发端,104国道,03省道穿境而过，萧绍运河东西横贯钱塘江，曹娥江水系，现代化国际航空港——萧山国际机场坐落于此。

      a#round.anchor

      #carousel-generic.carousel.slide
        .carousel-inner
          .item.media.active
            img(src="./images/park_intro/carousel1.png").media-object.pull-left
            .media-body
              h4.media-heading 关于杭州
              .content 杭州是中国长江三角洲的重要中心城市，又是中国著名的风景旅游城市和历史文化名城。杭州西湖杭州地处东南沿海的长江三角洲南翼，平均森林覆盖率为 62.8%，气候宜人。杭州拥有得天独厚的风景旅游资源，西湖是杭州城的标志性景观，是杭州市的象征世界上最长的人工运河——京杭大运河和以大涌潮闻名的钱塘江穿城而过，成为中国东南部风景名胜荟萃之地。

          .item.media
            img(src="./images/park_intro/carousel1.png").media-object.pull-left
            .media-body
              h4.media-heading 关于杭州
              .content 杭州是中国长江三角洲的重要中心城市，又是中国著名的风景旅游城市和历史文化名城。杭州西湖杭州地处东南沿海的长江三角洲南翼，平均森林覆盖率为 62.8%，气候宜人。杭州拥有得天独厚的风景旅游资源，西湖是杭州城的标志性景观，是杭州市的象征世界上最长的人工运河——京杭大运河和以大涌潮闻名的钱塘江穿城而过，成为中国东南部风景名胜荟萃之地。

        a(href="#carousel-generic", data-slide="prev").control-left
        a(href="#carousel-generic", data-slide="next").control-right

      .feature-list
        img(src="./images/park_intro/illustration.png").illustration.pull-right
        h3 萧山经济发展区
        p.
          萧山隶属于浙江省杭州市。位于浙江省北部，杭州湾南岸，是中国大陆综合实力最强的县（市，区）之一，连续多年被评为“中国十强县（市，区）”，多次蝉联“中国大陆极具投资地第一名”，2012年萧山实现地区生产总值1612亿元，人均GDP突破1.7万美元。萧山常住人口151.1万人，外来人口约87.65万人。交通便利，沪杭甬高速和杭金衢高速在这里交汇，浙赣铁路和萧甬铁路在这里发端,104国道,03省道穿境而过，萧绍运河东西横贯钱塘江，曹娥江水系，现代化国际航空港——萧山国际机场坐落于此。

        ul.list-unstyled
          li
            h4 经济
            .line
            p.
              曾经位于中国百强县第七位，浙江省县域经济第一位，后由于变成区级单位退出该类排名。目前截至2011年末数据，实现地区生产总值1446.78亿元，财政总收入217.02亿元，其中地方财政收入113.38亿元，城镇居民人均可支配收入36278元，农村居民人均纯收入18398元，各项数据指标依旧傲视全浙江省。
          li
            h4 政策
            .line
            p.
              萧山经济技术开发区管委会代表杭州市萧山区人民政府，全面行使开发区的行政管理职能，对项目审批、工商登记、工程建设、职工招聘等实行一条龙服务，手续简便，办事高效。区内还设有海关、商检、金融、保险等服务机构。浙江省人大常委会颁布的《萧山经济技术开发区条例》为投资者提供法律保障。同时，开发区实行国家关于经济技术开发区和沿海开放城市的有关政策，享有各方面的优惠。
          li
            h4 产业
            .line
            p.
              萧山经济技术开发区内设有杭州江东工业园区、萧山高新技术产业园两个省级开发区及国家级杭州软件产业基地萧山扩展区块。其中，江东工业园区将以打造环杭州湾产业带先进制造业基地为目标，是萧山开发区发展的新空间和主要平台，目前该园区已成功建有浙江数控装备制造业基地、杭州汽车产业园。同时，开发区内还成功建设了高新园区创业中心、日本静冈工业团地、台湾机械工业城、中国（杭州）女装产业园，为提升产业结构，聚集产业优势，促进区域经济发展发挥了重要作用。
          li
            h4 环境
            .line
            p.
              萧山经济技术开发区设施配套齐全，投资环境良好。按照科学规划，合理布局，环境立区和高起点、高标准要求，开发区配套功能不断完所需基础配套"七通一平"条件，引进和建设了一批学校、医院、商场、影院等公共生活配套设施。区内绿化覆盖率达40%以上。
          li
            h4 生活
            .line
            p.
              城乡居民生活水平继续提高。根据抽样调查，全年城镇居民人均可支配收入32313元，比上年增长10.6%；人均生活消费支出19820元，增长15.4%，恩格尔系数为0.371。全年农村居民人均纯收入15987元，增长11.1%，人均生活消费支出13483元，增长20.4%。城乡居民居住条件进一步改善，城镇居民人均住房面积为36.90平方米，农村居民人均住房面积为76.51平方米。居民金融资产继续增长，年末全区城乡居民储蓄存款余额（本外币）836.20亿元，增长18.9%，城乡居民人均存款余额达到68554元，增长17.5%。


  include partials/_footer.jade

block append scripts
  script(src="scripts/bs/carousel.js")

    
