
// font
@font-size-base: 14px;

// color
@text-color: #afafaf;
@border-normal: #eaeaea;
@link-color: @text-color;
@link-colro-active: #60d4d4;

// container
@container: 960px;
@container-desktop: @container + 30px;
@container-lg-desktop: @container + 30px;

