@import "./_variables.less";

html {
  height: 100%;
  background: #FAF9F7;
}

body {
  min-width: 1100px;
  background: #fbf8f8;
  font-size: @font-size-base;
  color: @text-color;
}

a {
  color: @text-color;
  &:hover, &.active{
    color: @link-color-active;
  }
}

.header {
  height: 900px;
  margin: 0;
  background: url(../images/index/banner.jpg) #caf4f3 no-repeat center center;

}

@media screen and (max-width: 1024px){
.header {
  height: 768px;
  background: url(../images/index/banner1024.jpg) #caf4f3 no-repeat center center;
}
}

.page-header .menu-list {
  max-width: @container;
  min-width: @container;

  .menu {
    width: (@container / 9);
  }
}

.body {
  margin: 20px auto;
  width: 960px;
  background: white;
  box-shadow: 0px 2px 3px #E2E2E2;
  .page-header {
    margin: 0;
    .menu-list {
      padding: 0;
      ul {
        border: 0;
      }
    }
  }

  .section {
    padding: 50px 60px;
    border-top: 1px solid #eee;
  }
  .carousel {
    @carousel-height: 355px;
    width: 520px;
    height: @carousel-height;
    .carousel-inner {
      .item img {
        height: @carousel-height;
      }
    }
    .carousel-caption {
      left: 0;
      right: 0;
      bottom: 0;
      padding: 11px 25px;
      text-align: left;
      background: rgba(0, 0, 0, 0.5);
      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    .carousel-control-left, .carousel-control-right {
      position: absolute;
      left: -32px;
      width: 30px;
      height: 30px;
      background-color: #60d4d4;
    }
    .carousel-control-left {
      bottom: 32px;
      background: url(../images/share/left.png) center right no-repeat;
    }
    .carousel-control-right {
      bottom: 0;
      background: url(../images/share/right.png) center right no-repeat;

    }

  }
  .news {
    width: 280px;
    ul {
      margin: 0;
      padding: 0;
    }
    h3 {
      padding: 7px 15px;
      margin: 0 0 15px 0;
      font-size: 14px;
      color: @text-color;
      font-weight: 400;
      background: url(../images/index/more.png) center right no-repeat;
      background-color: #fbf8f8;
    }
    a.more {
      display: block;
      height: 30px;
      margin-top: -45px;
    }
    .media {
      margin: 0 0 10px 0;
    }
    .media-object {
      width: 70px;
      height: 70px;
    }
    .media-heading, .media-body{
      font-size: 12px;
      color: @text-color;
    }
    .media-body {
      padding-top: 5px;
      p {
        margin: 0;
        color: @text-color;
        a {
          color: @link-color-active;
        }
      }
    }
    .media-heading {
      margin: 0 0 5px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      -o-text-overflow:ellipsis;
    }
  }

  .summary {
    margin-bottom: 45px;
    li {
      margin-right: 40px;
      padding: 0;
      width: 240px;
      vertical-align: top;
      h3 {
        margin-top: 0;
        padding-left: 60px;
        line-height: 40px;
        font-size: 18px;
        &.location {
          background: url(../images/index/location.png) center left no-repeat;
        }
        &.function {
          background: url(../images/index/function.png) center left no-repeat;
        }
        &.round {
          background: url(../images/index/round.png) center left no-repeat;
        }
      }
      p {
        margin: 0;
        line-height: 1.9;
        font-size: 12px;
      }
    }
  }

  .artwork {
    li {
      padding: 0;
      margin-right: 40px;
    }
    img {
      width: 240px;
      height: 200px;
    }
  }
  .introduce {
    width: 280px;
    h3 {
      margin-top: 0;
      font-size: 18px;
    }
    p {
      line-height: 1.9;
      font-size: 12px;
    }
    a {
      display: inline-block;
      padding-right: 45px;
      line-height: 30px;
      color: @link-color-active;
      font-size: 12px;
      background: url(../images/index/more.png) center right no-repeat;
    }
  }
  .articles {
    background: url(../images/index/bg.png) repeat-x;
    .square {
      display: inline-block;
      margin: 0 14px -2px 0;
      width: 14px;
      height: 14px;
      background: #d9d9d9;
    }
    h3 {
      display: inline-block;
      margin: 0 50px 0 0;
      padding-left: 65px;
      line-height: 70px;
      font-size: 18px;
      background: url(../images/index/award.png) center left no-repeat;
    }
    ul {
      display: inline-block;
      margin: 0;
      width: 540px;
      vertical-align: middle;
      li {
        width: 260px;
      }
    }
  }
  li.last {
    margin: 0;
  }
}

.page-footer {
  margin-top: 0;
  box-shadow: none;
}
